/* -----Desktop----- */

@media (min-width: 601px) {
  /* Header */

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 1.87rem 9.38rem 1.87rem;
    border-bottom: 1px solid rgba(47, 53, 63, 0.5);
  }

  header .full_logo img {
    width: 2.4375rem;
    height: 2.5rem;
    margin-top: 2.44rem;
  }

  header .full_logo span {
    display: none;
  }

  nav {
    color: var(--main-light, #2f353f);
    font-family: "Neue Machina";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 7.5rem;
    height: 7.4375rem;
    align-items: center;
  }

  nav a {
    text-decoration: none;
  }

  nav a:first-child {
    width: 6.125rem;
    height: 2.4375rem;
    border-radius: 0.625rem;
    border: 1px solid var(--main-blue, #2e2bd0);
    color: var(--main-blue, #2e2bd0);
    text-align: center;
    align-content: center;
  }

  nav .lang {
    border-left: 1px solid rgba(47, 53, 63, 0.5);
    align-self: stretch;
    align-content: center;
    padding-left: 5rem;
    margin-left: -2.5rem;
  }

  nav .lang img {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.62rem;
  }

  #menu_icon {
    display: none;
  }

  .send_icon {
    display: none;
  }

  /* We are section */

  .we_are {
    width: 120rem;
    height: 61.1875rem;
    flex-shrink: 0;
  }

  .we_are h2 {
    color: var(--main-light, #2f353f);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .summary {
    display: inline-block;
    position: relative;
    margin-top: 6.75rem;
    width: 101.25rem;
    height: 30.6875rem;
    flex-shrink: 0;
  }

  .summary .it {
    color: rgba(47, 53, 63, 0.7);
    font-family: Gilroy;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 47rem;
    height: 28.437rem;
    margin-bottom: 2.5;
  }

  .summary div {
    display: inline-block;
    position: absolute;
    border-radius: 2.5rem;
    border: 1px solid #95989D;
    width: 22.375rem;
    height: 14.75rem;
    flex-shrink: 0;
  }

  .nr {
    color: var(--main-blue, #2e2bd0);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3.12rem;
    margin-left: 3.12rem;
  }

  .developers .nr {
    color: var(--main-white, #fff);
  }

  .text {
    position: absolute;
    color: rgba(47, 53, 63, 0.7);
    font-family: Gilroy;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .developers .text {
    color: rgba(255, 255, 255, 0.7);
  }

  .years {
    top: 0rem;
    left: 56.56rem;
    right: 22.31rem;
    bottom: 15.94rem;
  }

  .years .text {
    top: 9.38rem;
    right: 8.25rem;
  }

  .clientsww {
    top: 0rem;
    left: 78.88rem;
    right: 0rem;
    bottom: 15.94rem;
  }

  .clientsww .text {
    top: 9.38rem;
    right: 7.44rem;
  }


  .developers {
    top: 15.94rem;
    left: 55.31rem;
    right: 23.56rem;
    bottom: 0rem;
    background: linear-gradient(87deg,       
    rgba(46, 43, 208, 1) -68.23%,
    rgba(120, 118, 242, 1) 165.71%);
    
  }

  .develop{
    background:  url(../images/both/cloth_background.png);
    color: rgba(255, 255, 255, 0.70);
    background: url(../images/about/Block.png) lightgray center / contain
      no-repeat;
    mix-blend-mode: luminosity;
  }

  .developers .text {
    top: 9.37rem;
    right: 6.94rem;
  }

  .weeks {
    top: 14.75rem;
    left: 78.88rem;
    right: 0rem;
    bottom: 1.24rem;
  }

  .weeks .text {
    top: 7.13rem;
    left: 3.12rem;
  }
  
  .circle{
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .cblack{
    background-image: url(../images/about/8.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cgrey{
    background-image: url(../images/about/2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cblue{
    background-image: url(../images/about/3.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .c1{
    top: 66.75rem;
    left: 9.37rem;
  }

  .c2{
    top: 66.75rem;
    left: 17.56rem
  }

  .c3{
    top: 66.75rem;
    left: 25.75rem;
  }

  .c4{
    top: 66.75rem;
    left: 33.94rem;
  }

  .c5{
    top: 66.75rem;
    left: 42.12rem;
  }

  .c6{
    top: 66.75rem;
    left: 50.31rem;
  }

  .c7{
    top: 66.75rem;
    left: 58.5rem;
  }

  .c8{
    top: 66.75rem;
    left: 66.69rem;
  }

  .c9{
    top: 66.75rem;
    left: 74.87rem;
  }

  .c10{
    top: 66.75rem;
    left: 83.06rem;
  }

  .c11{
    top: 66.75rem;
    left: 91.25rem;
  }

  .c0{
    background-image: url(../images/about/Block\ \(3\).png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 66.75rem;
    left: 99.37rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plus{
    background-image: url(../images/about/add.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 6.75rem;
    height: 6.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Our team section */
  .our_team {
    padding: 0 1.87rem;
  }

  .our_team > h2 {
    padding-left: 7.5rem;
  }

  .our_team > p {
    color: rgba(47, 53, 63, 0.7);
    font-family: "Gilroy";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 44.6875rem;
    float: right;
    margin: 3.13rem 17.19rem 6.25rem 0;
  }

  .team_img {
    border-radius: 4.375rem;
    border: 2px solid var(--main-blue, #2e2bd0);
    width: 116.25rem;
    height: 57.0625rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .team_img img {
    height: max-content;
    width: 100%;
    padding-bottom: 12rem;
  }

  .team_values {
    display: flex;
    padding: 0 2.31rem;
  }

  .team_values div {
    margin-top: 6.25rem;
    padding: 6.25rem 5.19rem;
  }

  .team_values div:nth-child(2) {
    border-left: solid 1px #2e2bd0;
    border-right: solid 1px #2e2bd0;
  }

  .team_values h3 {
    color: var(--main-blue, #2e2bd0);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .team_values h4 {
    color: var(--main-light, #2f353f);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 6.25rem 0 1.88rem 0;
  }

  .team_values p {
    color: rgba(47, 53, 63, 0.7);
    font-family: "Gilroy";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Our history */

  .our_history {
    padding: 0 1.87rem;
  }

  .our_history > h2 {
    padding-left: 7.5rem;
    width: 35rem;
  }

  .our_history > p {
    color: rgba(47, 53, 63, 0.7);
    font-family: "Gilroy";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 44.6875rem;
    float: right;
    margin: 3.13rem 17.19rem 6.25rem 0;
  }

  .our_history > div {
    display: inline-block;
    border-radius: 4.375rem;
    background: linear-gradient(66deg, #2e2bd0 -67.89%, #7876f2 125.28%);
    height: 47.3125rem;
    width: 100%;
  }

  .our_history .years {
    display: flex;
    width: 99%;
    justify-content: space-evenly;
    margin: 9.37rem 0 3.12rem 0;
    align-items: center;
  }

  .our_history .years span {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .our_history .years span:nth-child(3) {
    color: var(--main-white, #fff);
    font-size: 5rem;
  }

  .our_history .year_markers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
  }

  .our_history .year_markers div {
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    height: 6.875rem;
  }

  .our_history .year_markers div:nth-child(12n + 5) {
    height: 9.375rem;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .our_history .year_markers div:nth-child(29) {
    border-left: #fff solid 2px;
  }

  .our_history ul {
    align-items: center;
    list-style: none;
    padding-left: 0;
    width: fit-content;
    float: right;
    margin-top: 3.13rem;
    margin-right: 4rem;
  }

  .our_history ul li {
    color: var(--main-white, #fff);
    font-family: "Gilroy";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .our_history ul li::before {
    content: "•";
    font-size: 1.5rem;
    margin-right: 0.2rem;
    display: inline-block;
    width: 1em;
    text-align: center;
  }

  .our_history ul li span {
    color: var(--main-white, #fff);
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

/* -----Phone----- */

@media (max-width: 600px) {
  /* Header */

  header {
    width: 62.5rem;
    height: fit-content;
    padding: 6.25rem 2.5rem 0 2.5rem;
    display: grid;
    grid-template: 7.25rem / 7.25rem 1fr 7.25rem;
    justify-items: center;
    align-content: center;
    margin-bottom: 12.56rem;
  }

  div.full_logo {
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 2.5rem;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
  }

  header .full_logo img {
    width: 6.8125rem;
    height: auto;
    display: inline-block;
    margin-right: 0.87rem;
  }

  .full_logo span {
    color: var(--main-light, #2f353f);
    font-family: "TT Norms";
    font-size: 2.875rem;
  }

  #menu_icon {
    background: var(--main-blue, #2e2bd0);
    color: white;
    border-radius: 1.25rem;
    width: 7.25rem;
    height: 7.25rem;
    align-content: center;
  }

  #menu_icon img {
    width: 3.75rem;
    height: 3.75rem;
    display: block;
    margin: auto;
  }

  .send_icon {
    background: var(--main-blue, #2e2bd0);
    color: white;
    border-radius: 1.25rem;
    width: 7.25rem;
    height: 7.25rem;
    align-content: center;
  }

  .send_icon img {
    width: 3.75rem;
    height: 3.75rem;
    display: block;
    margin: auto;
  }

  nav {
    display: none;
  }

  /* We are section */

  .we_are {
    width: 62.5rem;
    height: 233.55rem;
    flex-shrink: 0;
  }

  .we_are h2 {
    color: var(--main-light, #2f353f);
    font-family: "Neue Machina";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .summary {
    display: inline-block;
    position: relative;
    margin-top: 6.25rem;
    width: 62.5rem;
    height: 222.63rem;
    flex-shrink: 0;
  }

  .summary .it {
    color: rgba(47, 53, 63, 0.7);
    font-family: Gilroy;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 62.5rem;
    height: 37.5rem;
    margin-bottom: 185.19rem;
  }

  .summary div {
    display: inline-block;
    position: absolute;
    border-radius: 5.625rem;
    border: 1.926px solid #95989D;
    width: 62.5rem;
    height: 39.0625rem;
    flex-shrink: 0;
  }

  .nr {
    color: var(--main-blue, #2e2bd0);
    font-family: "Neue Machina";
    font-size: 11rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6.25rem;
    margin-left: 6.25rem;
  }

  .text {
    position: absolute;
    color: rgba(47, 53, 63, 0.7);
    font-family: Gilroy;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .years {
    top: 43.75rem;
  }

  .years .text {
    top: 28.12rem;
    left: 6.25rem;
  }

  .clientsww {
    top: 82.9rem;
  }

  .clientsww .text {
    top: 28.13rem;
    left: 6.25rem;
  }


  .developers {
    top: 121.9rem;   
  }

  .developers .text {
    top: 28.13rem;
    left: 6.25rem;
  }

  .weeks {
    top: 161.1rem;
  }

  .weeks .text {
    top: 23.44rem;
    left: 6.25rem;
  }
  
  .circle{
    position: absolute;
    width: 16.625rem;
    height: 16.625rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .cblack{
    background-image: url(../images/about/8.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cgrey{
    background-image: url(../images/about/2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cblue{
    background-image: url(../images/about/3.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .c1{
    top: 243.12rem;
    left: 2.5rem;
  }

  .c2{
    top: 243.12rem;
    left: 14rem
  }

  .c3{
    top: 243.12rem;
    left: 25.5rem;
  }

  .c4{
    top: 243.12rem;
    left: 36.94rem;
  }

  .c5, .c6, .c7, .c8, .c9, .c10, .c11{
    display: none;
  }
 
  .c0{
    background-image: url(../images/about/Block\ \(3\).png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 243.12rem;
    left: 48.38rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plus{
    background-image: url(../images/about/add.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Our team section */

  .our_team > p {
    color: rgba(47, 53, 63, 0.7);
    font-family: "Gilroy";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 6.25rem 0;
  }

  .team_img img {
    height: auto;
    width: 100%;
    border-radius: 5.625rem;
    border: 2px solid var(--main-blue, #2e2bd0);
  }

  .team_values {
    display: flex;
    flex-direction: column;
    padding: 0 2.31rem;
    margin-top: 1.88rem;
  }

  .team_values div {
    padding: 7.5rem 0rem;
  }

  .team_values div:nth-child(2) {
    border-top: solid 1px #2e2bd0;
    border-bottom: solid 1px #2e2bd0;
  }

  .team_values h3 {
    color: var(--main-blue, #2e2bd0);
    font-family: "Neue Machina";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .team_values h4 {
    color: var(--main-light, #2f353f);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 6.25rem 0 1.25rem 0;
  }

  .team_values p {
    color: rgba(47, 53, 63, 0.7);
    font-family: "Gilroy";
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  /* Our history */

  .our_history > p {
    color: rgba(47, 53, 63, 0.7);
    font-family: "Gilroy";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 6.25rem 0;
  }

  .our_history > div {
    display: inline-block;
    border-radius: 5.625rem;
    background: linear-gradient(66deg, #2e2bd0 -67.89%, #7876f2 125.28%);
    height: 76.25rem;
    width: 100%;
  }

  .our_history .years {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 7.63rem;
    margin: 5rem 0 3.12rem 0;
    align-items: center;
    overflow-x: hidden;
  }

  .our_history .years span {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Neue Machina";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .our_history .years span:nth-child(3) {
    color: var(--main-white, #fff);
    font-size: 6.25rem;
  }

  .our_history .year_markers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.75rem;
    position: relative;
    left: 0.9rem;
  }

  .our_history .year_markers div {
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    height: 23.5125rem;
  }

  .our_history .year_markers div:nth-child(12n + 5) {
    height: 32.0625rem;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
  }

  .our_history .year_markers div:nth-child(29) {
    border-left: #fff solid 2px;
  }

  .our_history ul {
    align-items: center;
    list-style: none;
    padding-left: 0;
    width: fit-content;
    float: right;
    margin: 6.25rem 1.25rem 0 1.25rem;
  }

  .our_history ul li {
    color: var(--main-white, #fff);
    font-family: "Gilroy";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .our_history ul li::before {
    content: "•";
    font-size: 2.25rem;
    margin-right: 0.2rem;
    display: inline-block;
    width: 1em;
    text-align: center;
  }

  .our_history ul li span {
    color: var(--main-white, #fff);
    font-family: "Gilroy";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: inline-block;
    position: relative;
    left: 2.7rem;
  }
}
